.button {
  background-color: var(--grey);
  color: var(--white);
  border: none;
  border-radius: 16px;
  padding: 6px;
  width: fit-content;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.button.outline {
  background-color: transparent;
  color: var(--grey-medium);
  border: 1px solid var(--grey);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
